@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press start 2P', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(7, 136, 97, 0.212);
  }

.d-FlexRow {
  display: flex;
  flex-direction: row!important;
}

button{
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  color: #F3F9D2;
  background: #190686;
}
button:not(.currentBtn):hover {
  color: #190686;
  cursor: pointer;
}
button:hover:not(.currentBtn):after {
  width: 100%;
}
button:not(.currentBtn):after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #F3F9D2;
  }

  .cursor-pointer {
    cursor: pointer;
  }
