@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press start 2P', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #CFEE9E;
  }

.d-FlexRow {
  display: flex;
  flex-direction: row;
}

.navBar{
  display:flex;
  justify-content: space-between;
  background-image: url("../public/images/wave.svg");
  height: 12vh;
}

.logoContainer h2 {
  margin-left: 10px;
  margin-top: 25px;
}

.logo{
  width: 80px;
  height: 80px;
  margin-top: 0;
}
.carrito{
  width: 60px;
  height: 60px;
  margin: 10px;
  justify-self: right;
}

.Botonera a {
  color:rgb(6, 73, 17);
  text-decoration: none;
  font-size: 22px;
  margin: 4vh 10vw;
  list-style: none;
}

.mainContainer{
  margin-top: 15vh;
  margin-left: 15vw;
}