@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press start 2P', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: #12378f;
	border: 2px solid #555555;
}

body{
  background-color: rgba(104, 192, 233, 0.76);
  }

.d-FlexRow {
  display: flex;
  flex-direction: row!important;
}

.d-Block {
  display: block!important;
}

button:not(.btnDont){
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  color: #F3F9D2;
  background: #190686;
}



.loadingMsg {
  background: green;
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  padding: 30px;
  color: white;
  font-size: 40px;
  margin-top: 15%;
  margin-left: 25%;
  width: 50%;
  text-align: center;
  box-shadow: 5px 0 green, -5px 0 green, 0 -5px green, 0 5px green, 10px 0 green, -10px 0 green, 0 -10px green, 0 10px green, 0 0 0 5px green, 15px 0 green, -15px 0 green, 0 15px green, 0 -15px green, 0 -5px 0 5px green, 0 5px 0 5px green, 5px 0 0 5px green, -5px 0 0 5px green, 20px 0 green, -20px 0 green, 0 -20px green, 0 20px green, 10px 0 0 5px green, -10px 0 0 5px green, 0 10px 0 5px green, 0 -10px 0 5px green, 0 0 0 10px green;
}





button:not(.currentBtn, .btnDont):hover {
  color: #190686;
  cursor: pointer;
}
button:hover:not(.currentBtn, .btnDont):after {
  width: 100%;
}
button:not(.currentBtn, .btnDont):after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #F3F9D2;
  }

  .cursor-pointer {
    cursor: pointer;
  }
